<h1>All Reservations</h1>
 
<table class="table">
  <tr>
    <th>Name</th>
    <th>Phone Number</th>
    <th>Party Size</th>
    <th>Date</th>
    <th>Time</th>
    <th>Action</th>

  </tr>
 
  <% @reservations.each do |reservation| %>
    <tr>
      <td><%= reservation.name %></td>
      <td><%= reservation.phone_number %></td>
      <td><%= reservation.party_size %></td>
      <td><%= reservation.date %></td>
      <td><%= reservation.time %></td>
      <td><%= link_to 'Details', reservation_path(reservation) %> </td>
    </tr>
  <% end %>
</table>


<%= link_to 'Back', root_path %>
