<% if @reservation.errors.any? %>
<h2>Please Follow instructions</h2>
<ul>
<% @reservation.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>

<p>
<div class="well",>
<%= bootstrap_form_for :reservation, url: reservations_path  do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :phone_number %>
  <%= f.number_field :party_size %>
  <%= f.date_field :date %>
  <%= f.time_field :time %>
  <%= f.submit "Confirm Reservation" %>

</p>

  
<% end %>
</div>

<p><%= link_to 'Cancel and Go back', root_path %></p>
