<h1 align="center">New Reservation Confirmed</h1>

<div align="center"> 
<p>
  <strong>Name:</strong>
  <%= @reservation.name %>
</p>
<p>
  <strong>Phone Number:</strong>
  <%= @reservation.phone_number %>
</p>
<p>
  <strong>Party Size:</strong>
  <%= @reservation.party_size %>
</p>
<p>
  <strong>Date:</strong>
  <%= @reservation.date %>
</p>
<p>
  <strong>Time:</strong>
  <%= @reservation.time %>
</p>
</div>


<h4 align="center"><%= link_to 'View all Reservations', reservations_path %> | <%= link_to 'Make New Reservation' , new_reservation_path %>