<h1 align="center">Reservation Details</h1>

<div align="center"> 

<table style="width:15%">

<tr>
  <td><strong>Name:</strong></td>
  <td><%= @reservation.name %></td>
</tr>
<tr>
  <td><strong>Phone Number:</strong></td>
  <td><%= @reservation.phone_number %></td>
</tr>
<tr>
  <td><strong>Party Size:</strong></td>
  <td><%= @reservation.party_size %></td>
</tr>
<tr>
  <td><strong>Date:</strong></td>
  <td><%= @reservation.date %></td>
</tr>
<tr>
  <td><strong>Time:</strong></td>
  <td><%= @reservation.time %></td>
</tr>
</table>
</div>


<h4 align="center"><%= link_to 'View all Reservations', reservations_path %> | <%= link_to 'Make New Reservation' , new_reservation_path %></h4>